/*make sure to import all the other css files here for them to work in the project*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Poppins-Bold';
        src: url("../fonts/Poppins/Poppins-Bold.ttf");
    }
    @font-face {
        font-family: 'Poppins-SemiBold';
        src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    }
    @font-face {
        font-family: 'Poppins-Regular';
        src: url("../fonts/Poppins/Poppins-Regular.ttf");
    }
    @font-face {
        font-family: 'Poppins-Medium';
        src: url("../fonts/Poppins/Poppins-Medium.ttf");
    }
}



.apply-example {
    @apply bg-primary-50 rounded-3xl md:rounded-5-5xl grid grid-cols-1 md:grid-cols-2; /*combining tailwind classes in one*/
    /*background-color: red; can also add normal css properties in the same class*/
}


